{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe - Mon compte - {{ parent() }}!{% endblock %}

{% block content %}

    <h1>Modifier mon mot de posse</h1>

    <a href="{{ path('account') }}">Retourner à mon compte</a>

{{ form(form) }}
    <hr>
    form

{% endblock %}
